#### Problem Statement 1:

Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table:<br>

| | High School | Bachelors | Masters | Ph.d | Total |
|---|---|---|---|---|---|
|Female | 60|54|46|41|201|
|Male|40|44|53|57|194|
|Total|100|98|99|98|395|

Question: Are gender and education level dependent at 5% level of significance? In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?

#### Solution:

In [1]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

#contigency table
table=[[60,54,46,41],[40,44,53,57]]

stat,p,dof,expected=chi2_contingency(table)

prob=0.95
c=chi2.ppf(prob,dof)
if abs(stat)>=c:
    print('There is significant relation between male and female')
    
else:
    print('There is not significant relation between male and female')

There is significant relation between male and female

#### Problem Statement 2:

Using the following data, perform a oneway analysis of variance using alpha=0.05. Write up the results in APA format.<br>
[Group1: 51,45,33,45,67]<br>
[Group2:23,43,23,43,45]<br>
[Group3:56,76,74,87,56]<br>

#### Solution:

In [2]:
import pandas as pd

groups={
        'group1':[51,45,33,45,67],
        'group2':[23,43,23,43,45],
        'group3':[56,76,74,87,56]
}

df=pd.DataFrame(groups)
df

   group1  group2  group3
0      51      23      56
1      45      43      76
2      33      23      74
3      45      43      87
4      67      45      56

In [3]:
import scipy.stats
fvalue,pvalue=scipy.stats.f_oneway(df['group1'],df['group2'],df['group3'])
print(fvalue,pvalue)

9.747205503009463 0.0030597541434430556

In [4]:
if pvalue<0.05:
    print('Reject null hypothesis')
    
else:
    print('Accept null hypothesis')

Reject null hypothesis

#### Problem Statement 3:

Calculate F test for given 10,20,30,40,50 and 5,10,15,20,25. For 10,20,30,40,50

#### Solution:

In [5]:
import pandas as pd

a={
    'A':[10,20,30,40,50],
    'B':[10,20,30,40,50]
}
df1=pd.DataFrame(a)
b={
    'C':[5,10,15,20,25],
    'D':[10,20,30,40,50]
}
df2=pd.DataFrame(b)
df1

    A   B
0  10  10
1  20  20
2  30  30
3  40  40
4  50  50

In [6]:
df2

    C   D
0   5  10
1  10  20
2  15  30
3  20  40
4  25  50

In [7]:
import scipy.stats
fvalue1,pvalue1=scipy.stats.f_oneway(df1['A'],df1['B'])
print(fvalue1,pvalue1)

if pvalue1<0.05:
    print('Reject null hypothesis')
    
else:
    print('Accept null hypothesis')

0.0 1.0
Accept null hypothesis

In [8]:
import scipy.stats
fvalue2,pvalue2=scipy.stats.f_oneway(df2['C'],df2['D'])
print(fvalue2,pvalue2)

if pvalue2<0.05:
    print('Reject null hypothesis')
    
else:
    print('Accept null hypothesis')

3.6 0.0943497728424377
Accept null hypothesis